.canvas-wrapper {
    margin: 0 auto;

    border: 1px dashed red;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;    
    z-index: 1;
}

.temp-canvas {
    /* opacity: 0.5; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}