.save-drawing form {
    margin: 100px auto;
    max-width: 400px;
    color: var(--text-color);
    background-color: #fff;
    padding: 30px 35px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}

.save-drawing h1 {
    text-align: center;
}

.save-drawing form .btn {
    display: block;
    margin: auto;
}