.canvas-details h1,
.canvas-details .created-by {
    text-align: center;
}

.canvas-details h1 {
    margin-bottom: 10px;
}

.canvas-details .created-by {
    margin-bottom: 20px;
}


.canvas-details .image {
    display: block;
    margin: 0 auto;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}