.gallery-display {

    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 300px;
    justify-content: center;
    gap: 30px;

}



.gallery-display .gallery-item {
    text-align: center;
    /* border: 1px solid black; */
}

.gallery-display .gallery-item h3 {
    margin-bottom: 10px;
}

.gallery-display .gallery-item .image {  
    display: block;
    width: 100%;
    height: 200px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.gallery-display .gallery-item .image:hover {  
    opacity: 0.9;
}

