.navbar {
    background: var(--bg-color);
    padding: 20px 80px;
    /* border-bottom: 3px solid var(--primary-color); */
}

.navbar .container {
    display: flex;
    align-items: center;
    gap: 20px;

    max-width: 100%;
}

 .navbar .logo {
    margin-right: auto;
}

.navbar .logo .logo-text {
    margin-left: 10px;
    color: var(--text-color);
    font-weight: bold;
}

.navbar a {
    font-size: 1.1rem;
    text-align: center;
    color: var(--text-color);
    background: var(--bg-color);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--primary-color);
}
