.navbar {
    background: var(--bg-color);
    padding: 20px 80px;
    box-shadow: inset 0 20px 10px -10px rgba(0, 0, 0, 0.1);  
}

.navbar .container {
    max-width: 100%;
}

 .navbar .logo {
    margin-right: auto;
}

.navbar .logo .logo-text {
    margin-left: 10px;
    color: var(--text-color);
    font-weight: bold;
}

.navbar ul {
    display: flex;
    margin: 0 auto;
    gap: 20px;
    align-items: center;
    /* justify-content: flex-end; */
}

.navbar a {
    font-size: 1.1rem;
    /* text-align: center; */
    color: var(--text-color);
    background: var(--bg-color);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--primary-color);
}

.navbar li {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-seperator {
    display: inline-block;
    margin: 0 10px;
    min-width: 1px;
    min-height: 20px;
    background-color: #aaa;
}