/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

/* Global vars */
:root {
  --text-color: #333;
  --primary-color: #fdd565;
  --bg-color: #eee;
  --max-width: 1400px;
}

/* Global styles */

.container {
  /* max-width: var(--max-width); */
  margin: auto;
  overflow: hidden;
}

.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

.btn {
  color: var(--text-color);
  background-color: #fdd565;
  font-size: 1.1rem;
  font-weight: 100;
  padding: 10px;
  border-radius: 10px;
  border: 1px soid var(--bg-color);
}
.btn:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  cursor: pointer;
}