/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Poppins, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}


/* Global vars */
:root {
  --text-color: #333;
  --primary-color: #a620ff;
  --primary-color: #53994d;
  --bg-color: rgb(236, 236, 236);
  --max-width: 1400px;
}

/* Global styles */

.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--primary-color);
}

ul {
  list-style-type: none;
}

.btn {
  color: var(--primary-color);
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: 100;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
}

.btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.btn[disabled] {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  /* cursor: progress; */
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}

label span {
  display: block;
  margin-bottom: 6px;
}

input,
textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}